# Database Configuration
POSTGRES_DB=main
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SECRET_KEY=your_secret_key

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_DB=0

CELERY_BROKER_REDIS_URL="redis://localhost:6379/0"
